* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 16px 75.95px;
    justify-content: space-between;
}

header .nav-left img {
    width: 120px;
    height: 23px;
    padding-right: 18px;
}

.nav-left {
    display: flex;
}

.nav-left ul {
    display: flex;
}

.nav-right ul {
    display: flex;
}

.nav-left ul,
.nav-right ul {
    list-style: none;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-left ul li,
.nav-right ul li {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    line-height: 13px;
}

.nav-left ul li a,
.nav-right ul li a {
    text-decoration: none;
    color: black;
}

.nav-right ul li .bx {
    font-size: 13px;
}

.nav-right ul li:last-child {
    padding-right: 20px;
    border: 1px solid black;
    height: 28px;
    width: 26px;
    border-radius: 50%;
    padding-top: 6px;
}

.nav-main ul li:first-child{
font-size: 25px;
}

/* .nav-main ul li:nth-child(odd){
    font-size: 25px;  
} */
/* .nav-main ul li:nth-child(even){
    font-size: 25px;  
} */

/* .nav-main ul li:nth-child(2n+2){
    font-size: 25px;  
} */