* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    height:400px;
    width: 50%;
    border: 2px solid grey;
    text-align: center;
}
.pri{
    margin-top:2px ;
    line-height: 40px;
}
.pri:before{
    content: "";
    width:40%;
    margin-top: -2px;
    display: inline-block;
    height: 2px;
    background-color: blue;
    position: relative;
    top: -1%;
    right: 5px;
}

.pri:after{
    content: "";
    width:40%;
    display: inline-block;
    height: 2px;
    background-color: blue;
    position: relative;
    top: -1%;
    left: 5px;
}
